body{
    display: grid;
    place-content: center;
}
#leftArrow{
    position: absolute;
    top: 150px;
    left: 1px;
    opacity: .5;
    color: white;
}
#rightArrow{
    position: absolute;
    top: 150px;
    right: 1px;
    opacity: .5;
    color: white;
}
#photo{
    position: relative;

    width: 350px;
    height: 350px;
}
#url{
    object-fit: cover;
    width: 350px;
    height: 350px;
}
#profile{
    width: 400px;
    height: 600px;
    padding: 20px;
}